<div class="nav d-flex flex-column justify-content-between bg-secondary p-6">
	<div class="top">
		<img class="mb-6" src="../assets/images/logo-ANSWER.svg" alt="logo" />
		<ul class="list-unstyled">
			<li class="mt-5">
				<a class="d-flex flex-row" href="#">
					<span class="material-symbols-outlined me-3"> insert_chart </span>
					<p class="fw-bold">Dashboard</p>
				</a>
			</li>
			<li class="mt-5">
				<a class="d-flex" href="#">
					<span class="material-symbols-outlined me-4"> forum </span>
					<p class="fw-bold">Question</p>
				</a>
			</li>
			<li class="mt-5">
				<a class="d-flex flex-row" href="#">
					<span class="material-symbols-outlined me-4"> assignment </span>
					<p class="fw-bold">Assignment</p>
				</a>
			</li>
			<li class="mt-5">
				<a class="d-flex flex-row" href="#">
					<span class="material-symbols-outlined me-4"> video_library </span>
					<p class="fw-bold">Course</p>
				</a>
			</li>
			<li class="mt-5">
				<a class="d-flex flex-row" href="#">
					<span class="material-symbols-outlined me-4"> group </span>
					<p class="fw-bold">Admin</p>
				</a>
			</li>
			<li class="mt-5">
				<a class="d-flex flex-row" href="#">
					<span class="material-symbols-outlined me-4"> settings </span>
					<p class="fw-bold">Settings</p>
				</a>
			</li>
		</ul>
	</div>
	<div class="d-flex flex-row align-items-center">
		<img
			src="../assets/images/andychen.jpeg"
			class="rounded-circle avatar me-4"
			alt="andy avatar"
		/>
		<div>
			<p class="mb-1 fw-bold">Andy Chen</p>
			<span class="text-muted">andy0401@mail.com</span>
		</div>
	</div>
</div>
