.custom-accordion {
  background: #fff;
  border: 0;
  padding: 0;
}

.color-gray {
  color: #6c757d;
}

.fz-12 {
  font-size: 12px;
}

.list-group {
  width: 100%;
}

.border-gray {
  border: 1px solid #ced4da;
}

.border-bottom-gray {
  border-bottom: 1px solid #ced4da;
}

.file-btn {
  border: 1px solid #CED4DA;
  background-color: #F8F9FA ;
  width: 176px;

  &:hover {
    background-color: #CED4DA ;
  }
}

.em {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: #198754;
  background-color: #CED4DA;
}